<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
    <pipelines>
      <getContentEditorWarnings>
        <processor type="Sitecore.Support.ContentTesting.Pipelines.GetContentEditorWarnings.GetContentTestingWarnings, Sitecore.Support.255567" patch:i="*[@type='Sitecore.ContentTesting.Pipelines.GetContentEditorWarnings.GetContentTestingWarnings, Sitecore.ContentTesting']"/>
      </getContentEditorWarnings>
    </pipelines>
  </sitecore>
</configuration>