<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <getContentEditorWarnings>
        <processor type="Sitecore.Support.ContentTesting.Pipelines.GetContentEditorWarnings.GetContentTestingWarnings, Sitecore.Support.255567" patch:i="*[@type='Sitecore.ContentTesting.Pipelines.GetContentEditorWarnings.GetContentTestingWarnings, Sitecore.ContentTesting']"/>
      </getContentEditorWarnings>
    </pipelines>
  </sitecore>
</configuration>